<h1>Listing bills</h1>
Welcome back, <%= current_user.username -%>!
<%= link_to "Log out", logout_path %>
<br/>

<table>
  <tr>
    <th>Id</th>
	<th>Serial number</th>
	<th>Back number</th>
	<th>Year</th>
    <th>Original location</th>
	<th>Current location</th>
	<th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% Bill.where(:user_id => current_user.id).each do |bill| %>
  <tr>
    <td><%= bill.id %></td>
 	<td><%= bill.serial %></td>
    <td><%= bill.backnumber %></td>
    <td><%= bill.year %></td>
    <td><%= bill.orig_loc %></td>
	<td><%= bill.curr_loc %></td>
	<td><%= bill.amount %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id="new_link">
<%= link_to 'New Bill', new_bill_path %>
</div>
