<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag :all %>
    
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="top_nav">
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "CashClip", "/posts", :class => "brand" %> 
        <ul class="nav">
            <li class="active">
              <%= link_to "Home", "/posts"%>
            </li>
            <li><%= link_to "Claim", "/bills/new" %></li>
            <li><%= link_to "Shout", "/posts/new" %></li>
            <% unless current_user.blank? %>
              <li><%= link_to "Log out", logout_path %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
    <div id="container">
      <div id="content_wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
